// Custom.scss
// Option A: Include all of Bootstrap
$enable-gradients : true;
$enable-shadows: true;

$theme-colors: (
  "purplish": 	#800080,
  "greenOlive": #C3C3E5,
  "purpleHaze": #443266
);


@import "../node_modules/bootstrap/scss/bootstrap";







